.menu {
}
.header_menu_list {
}
.logo {
}
.contacts {
}
.cover {
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
}
.main_header {
}
.description {
}
.info {
}
.button {
}
.lots {
  margin: 180px 24px 0px;
}
.section_header {
}
.main_text .link {
}
.about {
  margin: 120px 24px 0px;
  padding-top: 35px;
  padding-left: 47px;
}

.theme_bright {
  background-color: white;
}
